body {
    font-family: sans-serif;
    margin: 0 auto;
}

.page {

    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #262626;
}

header {
    background: url("../img/img.jpg");
    height: 1264px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
}

.container a p {
    width: 127px;
    height: 52px;
    font-family: 'Pacifico';
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    left: 120px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu li {
    margin: 4px;
    display: inline-block;

}

.menu li a {
    padding: 16px 25px;
    display: inline-block;
}

.menu .active {
    border-radius: 30px;
    background-color: red;
}

.big-text {
    left: -164px;
    top: 406px;
    position: relative;
    width: 287px;
    height: 46px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #262626;
}

.small-text {
    top: 440px;
    left: -165px;
    position: relative;
    width: 368px;
    height: 70px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.btn-header {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    position: relative;
    top: 500px;
    left: -165px;

}

.btn-header a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    position: relative;
    margin-left: 25px;
    top: 16px;
}
