body {
    font-family: sans-serif;
    margin: 0 auto;
}

.page {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #262626;
}

header {
    background: url("../img/img.jpg");
    height: 1264px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
}

.container a p {
    width: 127px;
    height: 52px;
    font-family: 'Pacifico';
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    left: 120px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu li {
    margin: 4px;
    display: inline-block;
}

.menu li a {
    padding: 16px 25px;
    display: inline-block;
}

.menu .active {
    border-radius: 30px;
    background-color: red;
}

.big-text {
    left: -164px;
    top: 406px;
    position: relative;
    width: 287px;
    height: 46px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #262626;
}

.small-text {
    top: 440px;
    left: -165px;
    position: relative;
    width: 368px;
    height: 70px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.btn-header {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    position: relative;
    top: 500px;
    left: -165px;
}

.btn-header a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    position: relative;
    margin-left: 25px;
    top: 16px;
}

.scroll img {
    width: 24px;
    height: 40px;
    position: relative;
    top: 931px;
    left: -714px;
}

.first-main {
    top: -90px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #00c4c4;
    display: flex;
}

.second-background {
    position: relative;
    left: 175px;
    top: 71px;
    height: 700px;
}

.second-background img {
    width: 566px;
    height: 559px;
    position: relative;
}

.text-next-header {
    width: 500px;
    height: 300px;
    position: relative;
    left: 260px;
    top: 130px;
}

.big-text-2 {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: #ffffff;
}

.small-text-2 {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    color: #ffffff;
}

.blue-with-tomatoe {
    position: relative;
    width: 100%;
    background-color: #70bfff;
    height: 790px;
    top: -90px;
}

.shopping {
    position: absolute;
    top: 179px;
    left: 265px;
}

.section-shop-1 {
    position: relative;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.section-shop-1 p {
    position: relative;
    left: -41px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.line-shop {
    position: relative;
    top: 26px;
    left: 30px;
    justify-content: center;
    align-items: center;
}

.symbol-shop {
    position: relative;
    bottom: 50px;
    left: 80px;
}

.tomatoe img {
    position: relative;
    width: 462px;
    height: 527px;
    left: 873px;
    top: 100px;
}

.tomatoe p {
    position: absolute;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    left: 797px;
    top: 229px;
}

.gallery-section {
    top: -180px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #ffe92f;
    height: 1536px;
}

.name-section-gallery {
    left: 597px;
    top: 100px;
    position: relative;
    width: 307px;
    height: 87px;
}

.name-section-gallery p {
    position: relative;
    color: #262626;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
}

.short-section-text {
    position: relative;
    width: 577px;
    height: 70px;
    top: 120px;
    left: 462px;
}

.short-section-text p {
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}

.photos {
    position: absolute;
    width: 100%;
    top: 90px;
    }

.photo1 {
    position: relative;
    top: 231px;
    left: 150px;
    margin-top: 30px;

}

.photos2 {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    left: 930px;
    top: -323px;
}

.photos2a {
    position: relative;
}



.photos-next-section {
    position: relative;
    display: flex;
    bottom: 240px;
    left: 120px;
}

.photo3 {
    margin-left: 30px;
}

.btn-section-gallery {
    position: relative;
    width: 230px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    top: -170px;
    left: 650px;
}

.btn-section-gallery a {
    position: relative;
    width: 114px;
    height: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    margin-left: 43px;
    margin-right: 43px;
    top: 10px;
}
